<ion-menu [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar color="maintheme">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="goProfile()">
        <ion-icon name="person" item-start></ion-icon>
        Perfil
      </button>
      <button ion-item (click)="goQuests()">
        <ion-icon name="book" item-start></ion-icon>
        Missões
      </button>
      <button ion-item (click)="goRewards()">
        <ion-icon name="logo-usd" item-start></ion-icon>
        Recompensas
      </button>
      <button ion-item>
        <ion-icon name="settings" item-start></ion-icon>
        Configurações
      </button>
      <button ion-item (click)="logOut()">
        <ion-icon name="exit" item-start></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>