<ion-menu [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar color="maintheme">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="user">
        <ion-avatar item-start>
          <img [src]="user.url">
        </ion-avatar>
        <div style="font-size: 13px;">
          Vida
        </div>
        <div class="hp-bar">
          <mat-progress-bar
            class="example-margin"
            [color]="color_hp"
            [mode]="mode_hp"
            [value]="(((user.hp)/(user.hpMax))*100)"
            [bufferValue]="user.hpMax">
          </mat-progress-bar>
        </div>
        <div style="text-align: right; font-size: 10px;">
          {{user.hp}}/{{user.hpMax}}
        </div>
        <div style="font-size: 13px;">
          LVL {{user.level}}
        </div>
        <div class="xp-bar">
          <mat-progress-bar
            class="example-margin"
            [color]="color_xp"
            [mode]="mode_xp"
            [value]="user.xp"
            [bufferValue]="(((user.xp)/(user.xpMax))*100)">
          </mat-progress-bar>
        </div>
        <div style="text-align: right; font-size: 10px;">
          {{user.xp}}/{{user.xpMax}}
        </div>
      </ion-item>
      <button menuClose  ion-item (click)="goProfile()">
        <ion-icon name="person" item-start></ion-icon>
        Perfil
      </button>
      <button menuClose  ion-item (click)="goInventory()">
        <ion-icon name="ios-archive" item-start></ion-icon>
        Inventário
      </button>
      <button menuClose  ion-item (click)="goRewards()">
        <ion-icon name="logo-usd" item-start></ion-icon>
        Recompensas
      </button>
      <button menuClose  ion-item (click)="logOut()">
        <ion-icon name="exit" item-start></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>