page-create-avatar {
    .avatar-wrapper{
        position: relative;
        width: 200px;
        margin: auto;
        margin-bottom: 10%;
        

        ion-avatar img {
            background-color: #dddddd;
            width: 200px;
            height: 200px;
            margin:auto;
        }

    }
}
