<!--
  Generated template for the RewardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="maintheme">
    <ion-title>Recompensas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <label><ion-icon padding name="cash"></ion-icon>{{user.ticket}}</label>
  <ion-card style="border: 1px #ff8300 solid;">
    <ion-card-content>
      <ion-slides pager paginationType="fraction">
        <ion-slide *ngFor="let img of listFiles; let x = index;">
          <ion-grid>
            <ion-row>
              <ion-col col-4 *ngFor="let imgAux of listFiles[x]">
                <img (tap)="checkItem(imgAux,true)" (press)="checkItem(imgAux,false)" [class.selectedBack]="item == imgAux && check" [src]="imgAux">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <div padding>
    <button ion-button block type="button" color="maintheme" (click)="saveReward()">Selecionar</button>
  </div>

</ion-content>
