<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<menu [tileMenu]="tileMenu"></menu>
<ion-content>
  <ion-slides pager *ngIf="listQuestManha.length > 0 || listQuestTarde.length > 0 || listQuestNoite.length > 0">

    <ion-slide *ngIf="listQuestManha.length > 0">
      <ion-title>Manhã</ion-title>  
      <div *ngFor="let questManha of listQuestManha">
        <ion-card style="border: 1px #ff8300 solid;">
          <ion-list>
            <ion-item>
              {{questManha.titulo}}
              <button ion-button item-end icon-only clear (click)="presentPopover(questManha)">
                <ion-icon name="more" color="danger"></ion-icon>
              </button>
            </ion-item>
            <ion-item>
              Horario: {{questManha.horario}}
            </ion-item>
          </ion-list>       
        </ion-card>
      </div>
    </ion-slide>
  
    <ion-slide *ngIf="listQuestTarde.length > 0">
      <ion-title>Tarde</ion-title>  
      <div *ngFor="let questTarde of listQuestTarde">
        <ion-card style="border: 1px #ff8300 solid;">
          <ion-list>
            <ion-item>
              {{questTarde.titulo}}
              <button ion-button item-end icon-only clear (click)="presentPopover(questTarde)">
                <ion-icon name="more" color="danger"></ion-icon>
              </button>
            </ion-item>
            <ion-item>
              Horario: {{questTarde.horario}}
            </ion-item>
          </ion-list>       
        </ion-card>
      </div>
    </ion-slide>
  
    <ion-slide *ngIf="listQuestNoite.length > 0">
      <ion-title>Noite</ion-title>  
      <div *ngFor="let questNoite of listQuestNoite">
        <ion-card style="border: 1px #ff8300 solid;">
          <ion-list>
            <ion-item>
              {{questNoite.titulo}}
              <button ion-button item-end icon-only clear (click)="presentPopover(questNoite)">
                <ion-icon name="more" color="danger"></ion-icon>
              </button>
            </ion-item>
            <ion-item>
              Horario: {{questNoite.horario}}
            </ion-item>
          </ion-list>       
        </ion-card>
      </div>
    </ion-slide>
  
  </ion-slides>

  <ion-slides *ngIf="listQuestManha.length == 0 && listQuestTarde.length == 0 && listQuestNoite.length == 0">
    <ion-slide>
      <h6 style="font-size: 12px;">SEM MISSÕES POR AQUI</h6>
      <img src="assets/imgs/itens_magicos.png">
      <h6 style="font-size: 12px;">APENAS ITENS MÁGICOS</h6>
    </ion-slide>
  </ion-slides>

  <ion-fab bottom right>
    <button ion-fab mini color="maintheme" (click)="goCreateQuest()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
