<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<menu></menu>

<ion-header>
  <ion-navbar color="maintheme">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Missões</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-slides pager *ngIf="listQuestManha.length > 0 || listQuestTarde.length > 0 || listQuestNoite.length > 0">

    <ion-slide *ngIf="listQuestManha.length > 0">
      <ion-title padding>Manhã</ion-title>  
      <div class="list-missoes">
        <div *ngFor="let questManha of listQuestManha">
          <ion-card style="border: 1px #ff8300 solid;">
            <ion-list>
              <ion-item>
                {{questManha.titulo}}
                <button ion-button item-end icon-only clear (click)="presentPopover(questManha,$event)">
                  <ion-icon name="more" color="danger"></ion-icon>
                </button>
              </ion-item>
              <ion-item>
                Horário: {{questManha.horario}}
              </ion-item>
              <ion-item>
                Kcal Total: {{questManha.kcalTotal}}
              </ion-item>
              <ion-item>
                <ion-label color="light">Evitar Comer:</ion-label>
                <ion-toggle disabled="true" color="greentheme" [(ngModel)]="questManha.evitar" name="evitar"></ion-toggle>
              </ion-item>
              <ion-item>
                <ionic3-star-rating #rating 
                  activeIcon = "ios-star"
                  defaultIcon = "ios-star-outline"
                  activeColor = "#FE8400"
                  defaultColor = "#aaaaaa"
                  readonly = "true"
                  fontSize = "14px"
                  [rating] = "questManha.dificuldade">
                </ionic3-star-rating>
              </ion-item>
            </ion-list>       
          </ion-card>
        </div>
      </div>
    </ion-slide>
  
    <ion-slide *ngIf="listQuestTarde.length > 0">
      <ion-title padding>Tarde</ion-title>
      <div class="list-missoes">  
        <div *ngFor="let questTarde of listQuestTarde">
          <ion-card style="border: 1px #ff8300 solid;">
            <ion-list>
              <ion-item>
                {{questTarde.titulo}}
                <button ion-button item-end icon-only clear (click)="presentPopover(questTarde,$event)">
                  <ion-icon name="more" color="danger"></ion-icon>
                </button>
              </ion-item>
              <ion-item>
                Horário: {{questTarde.horario}}
              </ion-item>
              <ion-item>
                Kcal Total: {{questTarde.kcalTotal}}
              </ion-item>
              <ion-item>
                <ion-label color="light">Evitar Comer:</ion-label>
                <ion-toggle disabled="true" color="greentheme" [(ngModel)]="questTarde.evitar" name="evitar"></ion-toggle>
              </ion-item>
              <ion-item>
                <ionic3-star-rating #rating 
                  activeIcon = "ios-star"
                  defaultIcon = "ios-star-outline"
                  activeColor = "#FE8400"
                  defaultColor = "#aaaaaa"
                  readonly = "true"
                  fontSize = "14px"
                  [rating] = "questTarde.dificuldade">
                </ionic3-star-rating>
              </ion-item>
            </ion-list>       
          </ion-card>
        </div>
      </div>
    </ion-slide>
  
    <ion-slide *ngIf="listQuestNoite.length > 0">
      <ion-title padding>Noite</ion-title> 
      <div class="list-missoes">
        <div *ngFor="let questNoite of listQuestNoite">
          <ion-card style="border: 1px #ff8300 solid;">
            <ion-list>
              <ion-item>
                {{questNoite.titulo}}
                <button ion-button item-end icon-only clear (click)="presentPopover(questNoite,$event)">
                  <ion-icon name="more" color="danger"></ion-icon>
                </button>
              </ion-item>
              <ion-item>
                Horário: {{questNoite.horario}}
              </ion-item>
              <ion-item>
                Kcal Total: {{questNoite.kcalTotal}}
              </ion-item>
              <ion-item>
                <ion-label color="light">Evitar Comer:</ion-label>
                <ion-toggle disabled="true" color="greentheme" [(ngModel)]="questNoite.evitar" name="evitar"></ion-toggle>
              </ion-item>
              <ion-item>
                <ionic3-star-rating #rating 
                  activeIcon = "ios-star"
                  defaultIcon = "ios-star-outline"
                  activeColor = "#FE8400"
                  defaultColor = "#aaaaaa"
                  readonly = "true"
                  fontSize = "14px"
                  [rating] = "questNoite.dificuldade">
                </ionic3-star-rating>
              </ion-item>
            </ion-list>       
          </ion-card>
        </div>
      </div>
    </ion-slide>
  
  </ion-slides>

  <ion-slides *ngIf="listQuestManha.length == 0 && listQuestTarde.length == 0 && listQuestNoite.length == 0">
    <ion-slide>
      <h6 style="font-size: 12px;">SEM MISSÕES POR AQUI</h6>
      <img src="assets/imgs/itens_magicos.png">
      <h6 style="font-size: 12px;">APENAS ITENS MÁGICOS</h6>
    </ion-slide>
  </ion-slides>

  <ion-fab bottom right>
    <button ion-fab mini color="maintheme" (click)="goCreateQuest()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
