<!--
  Generated template for the PopOverInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-title padding>{{title}}</ion-title>
  <ion-list no-lines>
    <ion-item>
      <div style="font-size: 13px;">
        Vida
      </div>
      <div class="hp-bar">
        <mat-progress-bar
            class="example-margin"
            [color]="color_hp"
            [mode]="mode_hp"
            [value]="((hp/hpMax)*100)"
            [bufferValue]="hpMax">
        </mat-progress-bar>
      </div>
      <div style="text-align: right; font-size: 10px;">
        {{hp}}/{{hpMax}}
      </div>
    </ion-item>
    <ion-item *ngIf="!hideXp">
      <div style="font-size: 13px;">
        LVL{{level}}
      </div>
      <div class="xp-bar">
        <mat-progress-bar
            class="example-margin"
            [color]="color_xp"
            [mode]="mode_xp"
            [value]="((xp/xpMax)*100)"
            [bufferValue]="xpMax">
        </mat-progress-bar>
      </div>
      <div style="text-align: right; font-size: 10px;">
        {{xp}}/{{xpMax}}
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="cash" item-start></ion-icon>
      {{ticket}}
    </ion-item>
    <ion-item *ngIf="flagMorto">
      <div text-center text-wrap>
        Você perdeu todos seus pontos de vida. Suas Fichas de recompensa foram zeradas!
      </div>
    </ion-item>
  </ion-list>
</ion-content>
